@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255; /* White in RGB */
    --foreground: 23 23 23;    /* Slate-900 in RGB */
  }
}

body {
  /* Using the variables defined above */
  background: rgb(var(--background));
  color: rgb(var(--foreground));
  font-family: Arial, Helvetica, sans-serif;
}